body {
  margin: 20px auto;
  width: 600px;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}

.my_canvas {
  background-color: #fff;
  cursor: crosshair;
}

fieldset {
  background-color: #ddd;
  border: 1px solid #ccc;
}

legend {
  font-weight: bold;
}
